<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title> -->
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <section class="container about active" id="about">
            <div class="main-title">
                <h2>Techie <span>Tale</span><span class="bg-text">About Me</span></h2>
            </div>
            <div class="about-container">
                <div class="left-about">
                    <h4>Information About Ujjwal</h4>
                    <p>
                        I'm a developer with experience in React.js,
                        MERN Stack, C# (.Net), and Tailwind CSS.
                        I excel in Agile/Scrum methodologies and
                        use Jira for efficient project management. <br /> <br />
                        My skills also include Oracle database management,
                        Git/GitHub for version control, and web development
                        using HTML, CSS, JavaScript. Besides, web development,
                        I work on Python, Java and C too.
                    </p>
                    <div class="btn-con">
                        <a target=blank href="/public/assets/files/ResumeUjjwalPoudel.pdf" class="main-btn">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"><i class="fas fa-download"></i></span>
                        </a>
                    </div>
                </div>
                <div class="right-about">
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">17+</p>
                            <p class="small-text">Projects <br /> Completed</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">1+</p>
                            <p class="small-text">Years of <br /> experience</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">50+</p>
                            <p class="small-text">Happy <br /> Students</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">100+</p>
                            <p class="small-text">Warm <br /> Feedbacks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-stats">
                <h4 class="stat-title">My Skills</h4>
                <div class="progress-bars">
                    <div class="progress-bar">
                        <p class="prog-title">React</p>
                        <div class="progress-con">
                            <p class="prog-text">70%</p>
                            <div class="progress">
                                <span class="react"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">HTML5</p>
                        <div class="progress-con">
                            <p class="prog-text">95%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">CSS3</p>
                        <div class="progress-con">
                            <p class="prog-text">80%</p>
                            <div class="progress">
                                <span class="css"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Figma</p>
                        <div class="progress-con">
                            <p class="prog-text">75%</p>
                            <div class="progress">
                                <span class="js"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Python</p>
                        <div class="progress-con">
                            <p class="prog-text">70%</p>
                            <div class="progress">
                                <span class="python"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">C#(.NET)</p>
                        <div class="progress-con">
                            <p class="prog-text">65%</p>
                            <div class="progress">
                                <span class="cs"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Java</p>
                        <div class="progress-con">
                            <p class="prog-text">60%</p>
                            <div class="progress">
                                <span class="java"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">DBMS</p>
                        <div class="progress-con">
                            <p class="prog-text">60%</p>
                            <div class="progress">
                                <span class="dbms"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="stat-title">My Timeline</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">May 2023 - present</p>
                    <h5>Academic Tutor<span> - Centennial College</span></h5>
                    <p>
                        I guide students on various course works like, Web Development,
                        Software Engineering Practices, OOP in various languages and so on.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2022 - present</p>
                    <h5>Free Lancer<span> - Upwork</span></h5>
                    <p>
                        Worked on various projects like, Web Development, Designing with Figma and Data Entry.
                        Tutoring students in their academics.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">Feb 2023 - present</p>
                    <h5>Crew<span> - McDonald's Canada</span></h5>
                    <p>
                        Active member of the team, working in every corner either
                        in kitchen or in front counter. Handling pressure since enrollment.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2019 - 2022</p>
                    <h5>High School<span> - Devi Secondary School</span></h5>
                    <p>
                        Educational explorer, studied Physics, Chemistry, Mathematics.
                        Developed foundations for programming and problem solving.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">Jan 2023 - present</p>
                    <h5>Software Engineering<span> - Centennial College</span></h5>
                    <p>
                        Been studying OOP with various languages. Also, been working on several
                        projects using various languages and frameworks. Professor favorite as always.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2006 - 2018</p>
                    <h5>Student<span> - Secondary School</span></h5>
                    <p>
                        Grade Geek, always maintained grades above 3.5 GPA.
                        Sports in blood, Table Tennis god.
                    </p>
                </div>
            </div>
        </section>
        <div class="controls">
            <a href="/">
                <div class="control">
                    <i class="fas fa-home"></i>
                </div>
            </a>
            <a href="/about">
                <div class="control active-btn">
                    <i class="fas fa-user"></i>
                </div>
            </a>
            <a href="/projects">
                <div class="control">
                    <i class="fas fa-briefcase"></i>
                </div>
            </a>
            <a href="/contact">
                <div class="control ">
                    <i class="fas fa-envelope-open"></i>
                </div>
            </a>
        </div>
    </main>
</body>

</html>