<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ujjwal Poudel</title>
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body class="main-content">
    <header class="container header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="/public/assets/images/UjjwalPoudelAnimeVersion.jpg" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    Hi, I'm <span>Ujjwal Poudel</span>
                    An aspiring ML/AI Student
                </h1>
                <p>
                    I am currenlty studying Software Engineering Technology - Artificial Intelligence in Centennial College.
                    I build responsive Web Applications.
                </p>
                <div class="btn-con">
                    <a target=blank href="/public/assets/files/ResumeUjjwalPoudel.pdf" class="main-btn">
                        <span class="btn-text">Download CV</span>
                        <span class="btn-icon"><i class="fas fa-download"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="controls">
        <div class="control active-btn">
            <i class="fas fa-home"></i>
        </div>
        <a href="/about">
            <div class="control">
                <i class="fas fa-user"></i>
            </div>
        </a>
        <a href="/projects">
            <div class="control">
                <i class="fas fa-briefcase"></i>
            </div>
        </a>
        <a href="/contact">
            <div class="control">
                <i class="fas fa-envelope-open"></i>
            </div>
        </a>
    </div>
</body>
</html>