<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Portfolio</title> -->
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <section class="container active" id="portfolio">
            <div class="main-title">
                <h2>Projects Catalog <span></span><span class="bg-text">My Portfolio</span></h2>
            </div>
            <p class="port-text">
                Although being the busiest guy on the planet.
                I somehow managed to work on these pieces.
            </p>
            <div class="portfolios">
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/assets/images/Wordgenerator.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a target= _blank href="https://github.com/UjjwalPoudel2003/word-cloud-generator" class="icon">
                                <i class="fab fa-github"></i>
                            </a>
                            <a target= _blank href="https://www.figma.com/file/0oQsAGYrbNvMRhmDSVyKR8/Word-Cloud-Generator?type=design&node-id=0%3A1&mode=design&t=s3CMZbcZqwxHNh9o-1" class="icon">
                                <i class="fab fa-figma"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/assets/images/domexample.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a target= _blank href="https://github.com/UjjwalPoudel2003/Semester_2/tree/master/Client_side_web_development/Assignments/second_assignment" class="icon">
                                <i class="fab fa-github"></i>
                            </a>
                            <a target= _blank href="https://www.figma.com/file/NPyU9ycCSgLkLpOxy5GHQH/Javascript-assignment2?type=design&node-id=1%3A2&mode=design&t=qmvnSdFLWRD5hfay-1" class="icon">
                                <i class="fab fa-figma"></i>
                            </a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/assets/images/bugbusher.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a target= _blank href="https://github.com/UjjwalPoudel2003?tab=repositories" class="icon">
                                <i class="fab fa-github"></i>
                            </a>
                            <a target= _blank href="https://www.figma.com/file/e8zhbBPpry3JKWlON8P3Uv/Untitled?type=design&node-id=1%3A2&mode=design&t=ORhgCD9Xvfmw5aff-1" class="icon">
                                <i class="fab fa-figma"></i>
                            </a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/assets/images/portfolio.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a target= _blank href="https://github.com/UjjwalPoudel2003/Personal-Website" class="icon">
                                <i class="fab fa-github"></i>
                            </a>
                            <a target= _blank href="https://www.figma.com/file/kkA9NFx1AkD5xUP9yEdbk1/personal-portfolio?type=design&node-id=129%3A148&mode=design&t=f3cPPaVvTGzOoq8c-1" class="icon">
                                <i class="fab fa-figma"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/assets/images/mingleNest.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a target= _blank href="https://github.com/UjjwalPoudel2003/Semester_3/tree/main/Software_Systems_Design/MingleNest" class="icon">
                                <i class="fab fa-github"></i>
                            </a>
                            <a target= _blank href="https://www.figma.com/file/SosfkWkSIVCNXAlIp6oLMh/Untitled?type=design&node-id=0%3A1&mode=design&t=QPjVUj7arggXfYdH-1" class="icon">
                                <i class="fab fa-figma"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="/public/assets/images/restaurantApp.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a target= _blank href="https://github.com/UjjwalPoudel2003?tab=repositories" class="icon">
                                <i class="fab fa-github"></i>
                            </a>
                            <a target= _blank href="https://www.figma.com/file/mz14b0aM3wxOPsSPoDKzPn/Restaurant-App?type=design&node-id=0%3A1&mode=design&t=Zv5Ytr9etB4uCO2C-1" class="icon">
                                <i class="fab fa-figma"></i>
                            </a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="controls">
        <a href="/">
            <div class="control">
                <i class="fas fa-home"></i>
            </div>
        </a>
        <a href="/about">
            <div class="control">
                <i class="fas fa-user"></i>
            </div>
        </a>
        <a href="/projects">
            <div class="control active-btn">
                <i class="fas fa-briefcase"></i>
            </div>
        </a>
        <a href="/contact">
            <div class="control">
                <i class="fas fa-envelope-open"></i>
            </div>
        </a>
    </div>
</body>

</html>